.input-box {
  /* родительский блок относительно которого будем формировать положение
  тега label */
  position: relative;
}

input {
  background: rgba(66, 66, 212, 0.325);
  padding: 10px;
  /* закруглим края у поля ввода */
  border-radius: 11px;
  width: 100px;
}

label {
  position: absolute;
  /* смещение относительно родительского элемента 10px вверх от верхнего края и   10px влево */
  top: -10px;
  left: 10px;
  background: #fff;
  padding: 0 5px;
}

button {
  padding: 6px 6px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 6px;
  /* box-shadow: 0 9px #999; */
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
